@charset "utf-8";
/* CSS Document */

body{
	margin:0;
	padding:0;
	background: #F1B201;
}

#top{
	width:1280px;
	height:300px;
	margin:0 auto;
	background: #FFFFFF;
	background-image:url('topo.jpg');
}

#menu{
	width:1280px;
	height:45px;
	margin-top:0;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	background-image:url(menu1.png);
}

#menu ul{
	margin:0 auto;
	text-decoration:none;
}

#menu ul li{
    display:inline;
}

#menu ul li a{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	display:block;
	float:left;
	text-decoration:none;
	font-size:18px;
	padding:0 50px;
	line-height: 45px;
	color:#FFFFFF;
}

#menu ul li a:hover{
	/*background:#FF0000;*/
	color:#F30;
}

#menu ul li a.selecionada {
	background:#FF0000;
	color:#FFFFFF;
}